In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge , Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
df= pd.read_csv(r"C:\Users\HP\Downloads\data.csv")

In [5]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [7]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [8]:
features = [
    "bedrooms", "bathrooms", "sqft_living", "sqft_lot",
    "floors", "waterfront", "view", "condition",
    "sqft_above", "sqft_basement",
    "yr_built", "yr_renovated"
]

X = df[features]
y = df["price"]

In [9]:
X_train ,X_test, y_train , y_test = train_test_split(X,y , test_size=0.2 , random_state=42)

In [10]:
#linear regression

In [11]:
lr=LinearRegression()
lr.fit( X_train , y_train)
y_pred_lr= lr.predict(X_test)

print ("Mean squared Error ", mean_squared_error (y_test, y_pred_lr))
print ("r2_score", r2_score (y_test, y_pred_lr))

Mean squared Error  986921767056.1176
r2_score 0.032283856632784325

In [12]:

new_house = np.array([[3, 2, 1800, 4000, 1, 0, 0, 3, 1600, 200, 1990, 0]])

predicted_price = lr.predict(new_house)
print("Predicted House Price:", predicted_price[0])

Predicted House Price: 356029.66693457775

In [13]:
#ridge regression

In [14]:
rr=Ridge(alpha=1.0)
rr.fit(X_train , y_train)
y_pred_rr= rr.predict(X_test)

print ("Ridge mean squared error", mean_squared_error (y_test, y_pred_rr))
print ("r2 score", r2_score (y_test, y_pred_rr))

Ridge mean squared error 986897392419.6787
r2 score 0.03230775693568366

In [15]:
#Lasso regression

In [16]:
la= Lasso (alpha=0.1)
la.fit (X_train , y_train)
y_pred_la= la.predict(X_test)

print (" Lasso mean squred error ", mean_squared_error (y_test, y_pred_la))
print (" r2_score", r2_score (y_test, y_pred_la))

 Lasso mean squred error  986921732548.2909
 r2_score 0.03228389046908431

In [17]:
#decison tree

dt= DecisionTreeRegressor(random_state = 42 )
dt.fit (X_test, y_test)
y_pred_dt= dt.predict (X_test)

print (" Decision tree mean squared error ", mean_squared_error (y_test, y_pred_dt))
print (" r2_score", r2_score (y_test, y_pred_dt))

 Decision tree mean squared error  981657.6086956522
 r2_score 0.9999990374455738

In [18]:
#random forest

rf=RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train , y_train)
y_pred_rf= rf.predict (X_test)

print (" Random forest mean squared error ", mean_squared_error (y_test, y_pred_rf))
print (" r2_score", r2_score (y_test, y_pred_rf))

 Random forest mean squared error  991775851992.8134
 r2_score 0.027524232809177818

In [19]:
#gradient boosting

gb= GradientBoostingRegressor(n_estimators=100, random_state=42)
gb.fit( X_train , y_train)
y_pred_gb= gb.predict (X_test)

print (" Gradient bossting mean squared error ", mean_squared_error (y_test, y_pred_gb))
print (" r2_score", r2_score (y_test, y_pred_gb))

 Gradient bossting mean squared error  981074887889.9916
 r2_score 0.038016954783264056

In [20]:
#support vector regressor

svr= SVR(kernel='rbf')
svr.fit(X_train , y_train)
y_pred_svr= svr.predict (X_test)

print (" svr mean squared error ", mean_squared_error (y_test, y_pred_svr))
print (" r2_score", r2_score (y_test, y_pred_svr))

 svr mean squared error  1033519621156.3591
 r2_score -0.01340719727271722

In [21]:

models = {
    "Linear Regression": {
        "MSE": mean_squared_error(y_test, y_pred_lr),
        "R2": r2_score(y_test, y_pred_lr)
    },
    "Decision Tree": {
        "MSE": mean_squared_error(y_test, y_pred_dt),
        "R2": r2_score(y_test, y_pred_dt)
    },
    "Random Forest": {
        "MSE": mean_squared_error(y_test, y_pred_rf),
        "R2": r2_score(y_test, y_pred_rf)
    },
    "Support Vector Regressor": {
        "MSE": mean_squared_error(y_test, y_pred_svr),
        "R2": r2_score(y_test, y_pred_svr)
    },
    "Gradient Boosting": {
        "MSE": mean_squared_error(y_test, y_pred_gb),
        "R2": r2_score(y_test, y_pred_gb)
    }
}


for model_name, metrics in models.items():
    print(f"{model_name}: MSE={metrics['MSE']:.2f}, R²={metrics['R2']:.4f}")

Linear Regression: MSE=986921767056.12, R²=0.0323
Decision Tree: MSE=981657.61, R²=1.0000
Random Forest: MSE=991775851992.81, R²=0.0275
Support Vector Regressor: MSE=1033519621156.36, R²=-0.0134
Gradient Boosting: MSE=981074887889.99, R²=0.0380

In [22]:


trained_models = {
    "Linear Regression": lr,
    "Decision Tree": dt,
    "Random Forest": rf,
    "Support Vector Regressor": svr,
    "Gradient Boosting": gb
}

best_model_name = max(models, key=lambda k: models[k]["R2"])
best_model = trained_models[best_model_name]

print("Best Model:", best_model_name)

new_house = np.array([[3, 2, 1800, 4000, 1, 0, 0, 3, 1600, 200, 1990, 0]])
predicted_price = best_model.predict(new_house)
print("Predicted Price:", predicted_price[0])

Best Model: Decision Tree
Predicted Price: 425000.0